body{
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    position: absolute;
    /* 254.917 */
    font-size: 35px;
    background-color:rgb(134, 134, 134);
}
.jeu{
    position: relative;
    left: 50%;
    top:50vh;
    margin-left: -350px;
    margin-top: -370px;
    border:rgb(134, 134, 134) solid 10px;
    background-color: rgb(77, 75, 75);
    height: 700px;
    width: 700px;
}

.container-button{
    height: 500px;
    width: 550px;
    position: relative;
    top:100px;
    left: 75px;
}

.button{
    height: 166.7px;
    width: 179.9px;
    margin-top:4px;
}

.relancer{
    margin-top:30px;
    position: relative;
    width: 100%;
}

.rond{
    background-image: url("../assets/img/rond.png");
}

.croix{
    background-image: url("../assets/img/croix.png");
}