body{
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
}

/* --- NavBar --- */
nav{
    position: fixed;
    height: 3.5vh;
    width: auto;
    top:2vh;
    right: 2vh;
    text-align: end;
    z-index: 2;
}
nav>a{
    color:rgb(156, 156, 156);
    font-size: 3vh;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

nav>a:hover{
    color:rgb(94, 92, 92);
    font-size: 3.5vh;
    transition: 0.3s;
}
/* --- jeux --- */
.core{
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    height: 84.5vh;
    width: 84.5vh;
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: auto auto auto auto;
}

#display{
    color:rgb(141, 141, 141);
    font-size:3vh;
    position: fixed;
    top:2.7vh;
    left: 2vh;
    opacity: 50%;
    transition: 1s;
}
/* --- classes cartes --- */
.cartes{
    transition: 0.3s;
}

.luke{
    background-color: gray;
    background: url('../assets/img/luke.jpg') no-repeat;     
    background-size: 20vh;
}

.sam{
    background: url('../assets/img/sam.jpg') no-repeat;     
    background-size: 20vh;
}

.souhir{
    background: url('../assets/img/souhir.jpg') no-repeat;     
    background-size: 20vh;
}

.jonathan{
    background: url('../assets/img/jonathan.jpg') no-repeat;     
    background-size: 20vh;
}

.dimy{
    background: url('../assets/img/dimi.jpg') no-repeat;     
    background-size: 20vh;
}

.abdiel{
    background: url('../assets/img/abdiel.jpg') no-repeat;     
    background-size: 20vh;
}

.emma{
    background: url('../assets/img/emma.jpg') no-repeat;     
    background-size: 20vh;
}

.kevin{
    background: url('../assets/img/kevin.jpg') no-repeat;     
    background-size: 20vh;
}

.hide{
    background-position: 999px;
}

/* --- animations --- */
.cartes:hover{
    background-color: rgba(51, 51, 51, 0.5);
    opacity: 50%;
}
/* --- responsive --- */
@media (max-width:830px){
    button{
        width: 17vh;
        height: 17vh;
        transition: 0.3s;
    }
    .core{
        height: 74.5vh;
        width: 74.5vh;
        transition: 0.3s;
    }
    .abdiel, .emma, .kevin, .sam, .dimy, .jonathan, .souhir, .luke{
        background-size: 17vh;
    }
}

@media (max-width:680px){
    button{
        width: 12vh;
        height: 12vh;
        transition: 0.3s;
    }
    .core{
        height: 52vh;
        width: 52vh;
        transition: 0.3s;
    }
    .abdiel, .emma, .kevin, .sam, .dimy, .jonathan, .souhir, .luke{
        background-size: 12vh;
    }
}

@media (max-width:561px){
    #display{
        font-size: 3vh;
    }
}

@media (max-width:490px){
    button{
        width: 10vh;
        height: 10vh;
        transition: 0.3s;
        
    }
    .core{
        height: 43.5vh;
        width: 43.5vh;
        transition: 0.3s;
    }
    .abdiel, .emma, .kevin, .sam, .dimy, .jonathan, .souhir, .luke{
        background-size: 10vh;
    }
    #display{
        font-size: 2vh;
    }
}

@media (max-width:375px){
    button{
        width: 10vh;
        height: 10vh;
        transition: 0.3s;
        
    }
    .core{
        height: 43.5vh;
        width: 43.5vh;
        transition: 0.3s;
    }
    .abdiel, .emma, .kevin, .sam, .dimy, .jonathan, .souhir, .luke{
        background-size: 10vh;
    }
    #display{
        font-size: 1.8vh;
    }
}