body{
    font-family: 'Odibee Sans', cursive;
    background-color: black;
}
#core{
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}

#menu{
    height: 60vh;
    width: 60vh;
    position: relative;
    top:50%;
    left: 5%;
    margin-top:-40vh;
    border-radius: 20px;
}

h1{
    margin:0;
    position:relative;
    font-size: 8vh;
    color:white;
    left: 10%;
    top:20px;
    transition: 0.9s;
}

nav{
    height: 50vh;
    min-height: 420px;
    min-width: 374px;
    width: 45vh;
    position: relative;
    left:2.5vh;
    top:50px;
    display: flex;
    flex-direction: column;
}

a{
    transition: 0.3s;
    width: 100%;
    height: 20vh;
    margin-top: 0vh;
    text-decoration: none;
    color:black;
    font-size: 7vh;
    color:white;
}

#morp:hover{
        font-size: 6.8vh;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

#rein:hover{
    font-size: 6.8vh;
    background: -webkit-linear-gradient(#eee, rgb(116, 39, 39));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#memo:hover{
    font-size: 6.8vh;
    background: -webkit-linear-gradient(#eee, rgb(25, 80, 80));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h1 {
    text-transform: uppercase;
    text-decoration: none;
  }
  h1:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  h1:hover:after { 
    width: 100%; 
    left: 0; 
  }


.qr{
    position: absolute;
    width: 13vh;
    height: 13vh;
    bottom: 50px;
    right: 50px;
    transition: 0.3s;
    opacity: 30%;
    z-index: 8;
}

.qr:hover{
    opacity: 100%;
}

#video-bg{
    position: fixed;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    #video-bg{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    #video-bg{
        width: auto;
        height: 100%
    }
}

@media (max-width:650px){
    h1{
        font-size: 6vh;
        transform: translate(-10%, 0%)
    }
}